.ml-modelStatusCell {
  width: 100%;

  .euiFlexGroup {
    .euiFlexItem {
      &:nth-child(2) {
        width: calc(100% - 16px);
      }
    }
  }
}

.ml-modelModelIdCell{
  overflow: hidden;
  .ml-modelModelIdText {
    &:hover{
      cursor: pointer;
      color: #006BB4;
      text-decoration: underline;
    }
  }
}

