/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.ml-nodesTableNodeIdCellText {
  &:hover{
    cursor: pointer;
    color: $ouiLinkColor;
    text-decoration: underline;
  }
}
